extends layout

block content
  .small-container
    #PrimaryContent.content
      h1= title
      hr
      h2 Submit new question
      form#Question(action='./newQuestion', method='post')
        label(for='question') Question
        input#question.u-full-width(type='text', name='question', required='')
        label(for='answer') Answer
        input#answer.u-full-width(type='text', name='answer', required='')
        label(for='option1') Multiple choice option one
        input#option1.u-full-width(type='text', name='option1', required='')
        label(for='option2') Multiple choice option two
        input#option2.u-full-width(type='text', name='option2', required='')
        label(for='option3') Multiple choice option three
        input#option3.u-full-width(type='text', name='option3', required='')
        label(for='hint') Hint
        input#hint.u-full-width(type='text', name='hint', required='')
        label(for='intended') Who is this question intended for?
        input#intended.u-full-width(type='text', name='intended')
        input#submit(type='submit', value='Submit')
